.imagem{
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    transition: all ease-in-out 1s;
}

.imagem:hover{
    transition: all ease-in-out 1s;
    border-radius: 50%;
}


.cont{
    display: grid;
    align-items: center;
    margin: 150px;
    padding: 10px;
}

body{
    background-image: radial-gradient(black,black, rgb(124, 53, 238));
    color: white;
}

